@use "../variables" as *;
@use "../mixins.scss";

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    gap: 8rem;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    &__image {
        position: relative;
        height: fit-content;
        align-self: center;

        @media screen and (max-width: 768px) {
            margin-top: 5rem;
            height: auto;
            align-items: center;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            background-color: $red;
            height: 15rem;
            width: 15rem;
        }

        &::before {
            top: 0;
            left: 0;
        }

        &::after {
            bottom: 0;
            right: 0;
        }

        .about__img {
            padding: 1rem;
            object-fit: cover;
        }
    }

    .about__content {

        @media screen and (max-width: 768px) {
            padding: 0 2rem 2rem 2rem;
        }

        .about__intro {
            font-size: 2rem;
            color: $red;
            text-transform: uppercase;
        }

        .about__title {
            font-size: 4rem;
            color: $black;
            margin-top: .5rem;

            @media screen and (max-width: 768px) {
                font-size: 3rem;
            }
        }

        .about__text {
            font-size: 1.5rem;
            color: $black;
            padding: 1rem  1rem 1rem 0;
            line-height: 170%;
        }

        .about__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: start;
            align-items: center;
            column-gap: 1rem;
            margin-top: 1rem;

            @media screen and (max-width: 768px) {
                gap: 2rem;
            }

            @media screen and (max-width: 576px) {
               gap: .5rem;
            }

            .container__item {

                &-title {
                    display: flex;
                    align-items: center;
                    column-gap: .5rem;
                    font-size: 2rem;
                    color: $black;
                    text-transform: capitalize;
                }

                &-text {
                    font-size: 1.5rem;
                    color: $black;
                    padding: 1rem 2rem 1rem 0;
                    line-height: 150%;
                }
            }
        }
    }
}