@use "../variables" as *;
@use "../mixins";

.blogs {
    .heading {
        padding-top: 3%;

        @include mixins.breakpoint-down(large) {
            padding-top: 4rem;
        }
    }

    .blog__container {
        background-color: $light-bg;
        padding: 2rem 7%;
        margin-bottom: 7rem;

        &:hover {
            .slide__img {
                transform: scale(1.1);
            }
        }

        .blog__container-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            overflow: hidden;

            @include mixins.breakpoint-down(medium){
                grid-template-columns: 1fr;
                gap: 2rem;
            }

            .blog__post {
                padding: 3%;
                height: fit-content;
               
                .post__image {
                    max-height: 25rem;
                    overflow: hidden;
        
                    .post__img {
                        object-fit: cover;
                        transition: .3s;
                    }
                }
        
                .post__content {
                    padding: 2rem 0;

                    @include mixins.breakpoint-down(medium){
                        padding: 1rem 0;
                    }
        
                    .post__link {
                        padding-bottom: 1.5rem;
                        font-size: $fontMd;
        
                        & a {
                            color: $red;
                            text-transform: uppercase;
        
                            &:hover {
                                color: $white;
                            }
                        }
        
                        & span {
                            color: $white;
                            padding: 0 1rem;
                        }
                    }
        
                    .post__title {
                        color: $white;
                        text-transform: capitalize;
                    }
        
                    .post__description {
                        font-size: $fontSlg;
                        color: $light-white;
                        line-height: 150%;
                        padding: 1rem 0;
                    }
                }
            }
        }
    }
}