@use "../variables" as *;
@use "../mixins";

.home {
    padding: 0;
    margin-top: 5rem;
    height: 100%;

    .slider__wrapper {
        position: relative;

        .home__slide {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            min-height: 90vh;
            padding: 2rem 9%;
            display: flex;
            align-items: center;
            transition: .3s;
            display: none;

            &.active-slide {
                display: flex;
            }

            & > * {
                animation: slideScale .2s linear .2s backwards;
            }
    
            @include mixins.breakpoint-down(large) {
                padding: 2rem 5%;
            }
    
            .slide__content {
                width: 60rem;
    
                @include mixins.breakpoint-down(large) {
                    width: 45rem;
                }
    
                .slide__text {
                    font-size: $fontLg;
                    color: $white;
                    text-shadow: $textSh;
                    text-transform: uppercase;
                    display: block;
                }
    
                .slide__title {
                    color: $white;
                    padding: 1rem 0;
                    text-shadow: $textSh;
    
                    @include mixins.breakpoint-down(large) {
                        font-size: 4rem;
                    }
                }
            }
        }

        .slide1 {
            background: url(/app/images/home-bg-1.jpg)top center/cover no-repeat;
        }
        .slide2 {
            background: url(/app/images/home-bg-2.jpg) right center/cover no-repeat;
        }
        .slide3 {
            background: url(/app/images/home-bg-3.jpg) center center/cover no-repeat;
        }
        .slide4 {
            background: url(/app/images/home-bg-4.jpg) top center/cover no-repeat;
        }

        @keyframes slideScale {
            0% {
                opacity: 0;
                transform: scale(.7);
            }
        }

        .slider__nav {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            &-link {
                display: inline-block;
                height: 3rem;
                width: 3rem;
                background-color: yellow;
                opacity: .5;
                margin: 0 .7rem;
                border-radius: 50%;
                cursor: pointer;

                @include mixins.breakpoint-down(medium) {
                    height: 2.5rem;
                    width: 2.5rem;
                }
                
                &.active-link {
                    background-color: $red;
                    border: 1px solid $white;
                    opacity: 1;
                }
            }
        }
    }
}

